In [4]:
import sklearn
import pandas as pd

In [5]:
dataset = pd.read_csv("data.csv") 
target = pd.read_csv("flowering_time.csv")

In [6]:
dataset.describe()

,gtype.14,gtype.15,gtype.18,gtype.26,gtype.43,gtype.50,gtype.57,gtype.72,gtype.87,gtype.90,...,gtype.100,gtype.104,gtype.116,gtype.119,gtype.123,gtype.126,gtype.139,gtype.143,long,rec
count,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,...,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000,697.000000
mean,0.393113,0.791966,0.575323,0.879484,0.443329,0.457676,0.507891,0.703013,0.727403,0.579627,...,0.637016,0.958393,0.674319,0.502152,0.860832,0.737446,0.595409,0.981349,6.760515,12.122796
std,0.793551,0.969977,0.903613,0.992701,0.823515,0.838205,0.827167,0.954062,0.854507,0.906419,...,0.794345,0.998414,0.943117,0.866230,0.988076,0.964121,0.912796,0.997668,3.653327,3.400084
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-11.667000,1.977000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.480000,9.936000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.534000,12.123000
75%,0.000000,2.000000,2.000000,2.000000,0.000000,0.000000,1.000000,2.000000,2.000000,2.000000,...,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,9.109000,14.175000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,22.692000,21.930000

In [7]:
target.describe()

             45.0
count  696.000000
mean    38.793103
std     12.877296
min     21.000000
25%     28.000000
50%     34.000000
75%     50.500000
max     74.000000